.ant-row>.ant-col-12>h3>span{
    float: right;
    font-size: 13px;
    color:rgb(143, 142, 142);
}
.ant-row>.ant-col-12>h3{
    font-weight: 400;
    padding-left: 5px;
    /* border-left:2px solid rgb(5, 161, 233) ; */
}
.ant-row>.ant-col-12>h3::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-right: 5px;
    height: 21px;
    line-height: 21 px;
    width: 2.5px;
    background-color: rgb(5, 161, 233) ; 
}
.ant-tabs-tabpane hr{
    margin: 0;
    margin-bottom: 4px;
    border:1px rgb(240, 234, 234) solid 
}
.anticon{
   
} 
li  .anticon:hover ::before{
        color:rgb(255, 110, 74);
    }

    .ant-row>.ant-col-24>h3::before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        margin-right: 5px;
        height: 21px;
        line-height: 21 px;
        width: 2.5px;
        background-color: rgb(5, 161, 233) ; 
    }  