.Recommend{
    width: 100%;
    // background-color: rgb(235, 196, 219);
    box-sizing:border-box ;
    overflow: auto;

   


    .XinGebox,.XinDiebox{
       padding: 0px 4px;
    }
    .XinGe{
        // border-bottom:1px #ccc solid ;
        height: 100%;
        .libox{
            height: 23px;
            line-height: 23px;
            border-bottom: 1px dashed #ccc;
            padding-bottom: 3px;
            background-color: #fff;
            margin-top: 3px;
            transition: all 0.3s linear;
            &:hover{
                // background-color: lightblue;
                cursor: pointer;    
                color:lightblue;
            }
         
          
        }
        .time{
            color:rgb(156, 156, 156);
            float: right;
            margin:0 5px ;
            
        }
        .textTitle{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            height: 23px;
            line-height: 23px;
        }
        .textState{
           font-size: 10px;
           color:orange;
           margin-top: 3px;
           text-shadow:0px 0px 3px #fff;
           border-radius: 4px;
           font-family: 'STLiti';
           border: 1.5px solid  orange;
           line-height:13px ;
           float: right;
           margin-right: 6px;
        }
    }
    .XinDie{
        height: 100%;
        .p{
            padding-left:10px;
            color:#ccc;
            span{
               color:#666
            }
        }
    }
}

.IHover{
    color:#666;
    float: right;
    margin:0px 8px;
    margin-top:4px;
    cursor: pointer;
    font-weight: 1000;
    transition: all 0.5s linear;
    padding: 1.5px;
    border-radius: 2px;
}
.IHover:hover{
     color:rgb(22, 236, 218);
     text-shadow:0px 0px rgb(11, 167, 240) ;  
     box-shadow:0px 0px 4px   rgb(11, 167, 240);

}
.imgT{
    height: 120px;
    width: 120px;
    display: block;
    margin: 10px;
}


.Recommend::-webkit-scrollbar {
    width: 10px;    
    height: 1px;
}
.Recommend::-webkit-scrollbar-thumb {
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(192, 142, 181, 0.2);
    background: #f7d4e8;
}
.Recommend::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(192, 142, 181, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}
