
.titles{
    font-weight: 400;
    padding-left: 5px;
}
.titles::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-right: 5px;
    height: 21px;
    line-height: 21px;
    width: 2.5px;
    background-color: rgb(5, 161, 233) ; 
}
.countNam{
    color:#666;
    font-size: 17px;
}
.countNamA{
//    background-color: pink;
font-weight: normal;
color: #000;
}
.iconsa{
  color:#ccc;
}

// .fontS{
//     color:rgba(221, 89, 245, 0.945);
//     border: 1px #ccc solid;
//     // background-color: rgb(247, 126, 14);
//     border-radius: 3px;
//     display: inline-block;

  
    
// }


