
.titles{
    font-weight: 400;
    padding-left: 5px;
}
.titles::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-right: 5px;
    height: 21px;
    line-height: 21 px;
    width: 2.5px;
    background-color: rgb(5, 161, 233) ; 
}