.icon{
    width: 15px;
    height: 15px;
    line-height:20px ;
    float: left;
    margin: 3px;
    margin-right: 9px;
    img{
        width: 100%;
        vertical-align: middle;
        font-size: 0;
        height: 100%;
    }
}